@charset "UTF-8";

/* O'Reilly Media, 2012; version 2.5.1 - New code fonts and syntax highlighting */

/* reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* end reset */

@page {
  margin: 5px !important;
}

/* book section */

section.book > div {
  margin-top: 2em;
}
section.book > div > p.label {
  font-style: italic;
  color: #666;
  font-size: 1.2em;
}
section.book > div.editors > ul {
  margin-left: 0px !important;
  padding-left: 0px !important;
  list-style-type: none;
}
section.book > div.author > p.author {
  margin-top: 8px !important;
}

/* p margin */
p {
  margin: 15px 0 0;
}

/* links */
a {
  white-space: nowrap;
  color: #3c78d8;
}

/* headings */
h1 {
  font-size: 2.2em;
  font-weight: bold;
  font-family: "Oswald Bold", sans-serif;
  margin-top: 20px !important;
}

h2 {
  font-size: 1.9em;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  margin: 15px 0 8px 0 !important;
}

h3 {
  font-size: 1.6em;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  margin: 10px 0 8px 0 !important;
}

h4 {
  font-size: 1.4em;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: #666;
  margin: 9px 0 !important;
}

/* Appropriate heading hyphenation suppression for different ereaders */
h1, h2, h3, h4 {
  -epub-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

/* code */
pre {
  white-space: pre-wrap;
  font-family: "Roboto Mono", monospace;
  margin: 15px 0;
  display: block;
  -epub-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  padding: 5px;
  font-size: 0.9em;
}

code {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;
}
code.prompt { color: #3a5985; }
code.user { color: #c65102; }
code.response { color: #618fca; }
code.comment { color: #3b853a; }
code.inline { color: #777; white-space: nowrap; }

section.dedication p {
  margin: 3em 2em;
  text-align: center;
  font-style: italic;
  font-family: "Arial", serif;
  font-size: 1.2em;
}

/* lists */

dt {
  padding-top: 10px !important;
  padding-bottom: 0 !important;
}
dd {
  margin-left: 1.5em !important;
}
ol {
  list-style-type: decimal;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  margin-left: 5px !important;
  padding-left: 20px !important;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

ul {
  list-style-type: square;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  margin-left: 5px !important;
  padding-left: 20px !important;
}

ul ul {
  list-style-type: none;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

ul ul li p:before {
  content: "\2014 \0020";
}

ul ul ul li p:before {
  content: "";
}

ul ul ul {
  list-style-type: square;
  margin-left: 20px !important;
  padding-left: 30px !important;
}

div.orderedlistalpha {
  list-style-type: upper-alpha;
}

table.simplelist {
  margin-left: 20px !important;
  margin-bottom: 10px;
}

table.simplelist td {
  border: none;
  font-size: 90%;
}

table.simplelist tr {
  border-bottom: none;
}

table.simplelist tr:nth-of-type(even) {
  background-color: transparent;
}

/* admonitions */
div.note {
  margin: 15px 0 !important;
  min-height: 45px;
  border: 1px solid #3a5985;
  color: #3a5985;
  background-color: #d5deef;
  width: 100%;
  page-break-inside: avoid;
}
img.note {
  margin: 5px !important;
  height: 2.0em;
  float: left;
}
div.note div.content {
  display: inline-block;
  margin-bottom: 10px !important;
  max-width: 90%;
}
div.note > div.content p {
  margin: 8px 0 0;
}
div.note code.inline {
  font-weight: bold;
  color: #3a5985;
}

figure {
  margin: 10px 0 !important;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: transparent;
  padding: 5px !important;
  page-break-inside: avoid;
}

figure figcaption {
  font-size: 90%;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-family: "Free Serif", serif;
  color: #000;
  padding: 5px !important;
  page-break-before: avoid;
  page-break-after: avoid;
}

/* tables */
div.table, table {
  margin: 0px !important;
  width: 100%;
  border-spacing: 0;
  page-break-inside: avoid;
}
th {
  font-family: "Arial", sans-serif;
  color: #000;
  font-weight: bold;
  background-color: #d5deef;
}
td, th {
  padding: 0.6em 0.3em;
  text-align: left;
  vertical-align: baseline;
}
table, td, th {
  border: 1px solid #618fca;
  border-collapse: collapse;
}
div.table p.title {
  font-weight: normal;
  font-style: italic;
  font-family: "Arial", serif;
  margin: 15px 0 0 0 !important;
  text-align: left;
  padding: 0;
}

/* fonts (keep at bottom); using Free Serif and Sans as a fallback for its rich set of glyphs */
@font-face {
  font-family: "Oswald Bold";
  src: url(../fonts/Oswald-Bold.ttf);
}

@font-face {
  font-family: "Roboto Mono";
  src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}

/* keep this body statement last */
body {
  font-family: "Arial", serif;
}

/* remove numbering from nav ol */
nav#toc ol {
	list-style-type: none;
  margin-top: 5px !important;
}

nav#toc a {
  text-decoration: none;
}

nav#toc > ol {
  margin-left: 0px !important;
  padding-left: 0px !important;
}
